*{
    color: white;
    text-shadow: -.3px 0 black, 0 .3px black, .3px 0 black, 0 -.3px black;
}

/* Section styling */
.container{
    display: flex;
    text-align: center;
    flex-flow: column wrap;
}

.top-row{
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    margin-top: 1%; 
    margin-left: 2%;
    margin-right: 2%;
    font-size: 125%;
}
.top-right{
    display: flex;
    flex-direction: column;
    font-size: 175%;
    align-items: center;
}
.top-right > .city {
    margin-top: -10px;
    font-size: 40%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    flex-grow:1;
}

.below-main{
    margin-bottom: 5%;
}

.bottom-row{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 100%;
    margin-bottom: 2%;
}


/* Text Styling */

h1{
    font-size: 1000%;
    margin-bottom:-3%;
    text-shadow: -.3px 0 black, 0 .3px black, .3px 0 black, 0 -.3px black;
}

h2{
    font-size:350%;
    text-shadow: -.3px 0 black, 0 .3px black, .3px 0 black, 0 -.3px black;
}

h3{
    font-size: 230%;
    text-shadow: -.3px 0 black, 0 .3px black, .3px 0 black, 0 -.3px black;
}

#quote{
    font-size: 125%;
    text-shadow: -.3px 0 black, 0 .3px black, .3px 0 black, 0 -.3px black;
}

#author{
    font-size: 100%;
}

#photographer{
    display: flex;
    font-size: 75%;
    color: whitesmoke;
    text-shadow: -.3px 0 black, 0 .3px black, .3px 0 black, 0 -.3px black;
}

input{
    width: 450px;
}

#author{
    display: none;
}

.quote:hover #author{
    display: inline-block;
}

.small-screen{
    display: none;
}
.large-screen{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:550px){
    .small-screen{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .large-screen{
        display: none;
    }

    .below-main{
        margin-bottom: 0%;
    }

    .bottom-row{
        height: 60px;
        display: flex;
        justify-content: space-between;
        margin-left: 2%;
        margin-right: 2%;
        font-size: 80%;
        margin-bottom: 3%;
    }

    h1{
        margin-bottom: -5%;
        font-size: 60px;
        font-weight: 400;
    }
    h2{
        font-size:200%;
        font-weight: 400;
    }
    
    h3{
        margin-top: 250px;
        font-size: 135%;
    }

    input{
        width: 250px;
    }
    
}