*{
    font-family: Roboto, sans-serif;
    color: white;
    text-shadow: -.4px 0 black, 0 .4px black, .4px 0 black, 0 -.4px black;
}

/* Section styling */
.clone-container{
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-flow: column wrap;
    max-width: 100vw;
}

.top-row{
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    margin-top: 1%; 
    margin-left: 2%;
    margin-right: 2%;
    font-size: 125%;
}
.top-right{
    display: flex;
    flex-direction: column;
    font-size: 175%;
    align-items: center;
}
.top-right > .city {
    margin-top: -10px;
    font-size: 40%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    flex-grow:1;
}

.below-main{
    margin-bottom: 5%;
}

.bottom-row{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 100%;
    /* margin-bottom: 2%; */
}


/* Text Styling */

#time{
    font-size: 1000%;
    margin-bottom:-3%;
}

#greeting{
    font-size:350%;
}

#greeting > .btn{
    background-color: transparent;
    color: white;
    font-size: 30%;
    margin-left: 5px;
}

#question{
    font-size: 230%;
}

#quote{
    font-size: 125%;
    margin-left: 8px;
    margin-right: 90px;
    transform:translateX(0) translateY(0);
    transition:transform 1s ease-in-out;
}

#author{
    display: none;
    font-size: 100%;
    margin-right:100px;
}
.quote:hover{
    transform:translateY(-25px);
}
.quote:hover #author{
    display: inline;
}

#photographer{
    display: flex;
    font-size: 75%;
    color: whitesmoke;
    text-shadow: -.3px 0 black, 0 .3px black, .3px 0 black, 0 -.3px black;
}
#todo{
    cursor: pointer;
}
input{
    width: 450px;
}

.small-screen{
    display: none;
}
.large-screen{
    display: flex;
    flex-direction: column;
}

.modal-content, .modal-body {
    background: rgb(54, 53, 53);
    background-color: rgb(54, 53, 53);
}
.modal-title {
    background: rgb(54, 53, 53);
    padding-left: 5px;
}
.modal-footer{
    height: 20%;
}

.striked{
    text-decoration: line-through;
}

.trash-can{
    float:right;
    cursor: pointer;
}

@media screen and (max-width:550px){
    .small-screen{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .large-screen{
        display: none;
    }

    .below-main{
        margin-bottom: 0%;
    }

    .bottom-row{
        height: 60px;
        align-items: center;
        margin-bottom: 0;
        font-size: small;
    }

    #time{
        margin-bottom: -5%;
        font-size: 60px;
        font-weight: 400;
    }
    #greeting{
        font-size:200%;
        font-weight: 400;
        margin-top: 15px;
    }

    #greeting > .btn{
        margin-left: 2px;
    }

    #quote, #author {
        margin-left: 0;
        margin-right: 0;
    }

    #quote{
        font-size: 100%;
    }
    
    #author{
        font-size: 70%;
    }
    
    #question{
        margin-top: 250px;
        font-size: 135%;
    }

    input{
        width: 250px;
    }
    
}

@media screen and (max-width:400px){
    #greeting{
        font-size:140%;
        font-weight: 400;
        margin-top: 15px;
    }
}